/* Устанавливаем box-sizing по умолчанию */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Удаляем отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

/* Удаляем маркеры списка */
ol,
ul {
  list-style: none;
}

/* Устанавливаем базовые стили для текста */
body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Helvetica Neue', sans-serif;
  color: black;
  line-height: 1.4;
}

/* Удаляем подчеркивание ссылок */
a {
  text-decoration: none;
}

/* Удаляем рамки изображений */
img {
  border: 0;
  vertical-align: middle;
}

/* Удаляем таблицу стилей */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main {
  display: flex;
}

.main__block {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
}

.main__text {
  display: flex;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #cbb182;
  color: black;
  font-size: 25px;
  line-height: 1em;
  transition: background 0.3s;
}

.main__text:hover {
  cursor: text;
}

.main__img {
  margin: 0 auto;
  padding: 10px;
  background-color: #cbb182;
  border-radius: 10px;
  transition: background 0.3s;
}

.main__img svg {
  width: 30px;
  height: 30px;
}

.display-none {
  display: none;
}

.main__img:hover {
  cursor: pointer;
}
